@font-face {
  font-family: 'Nunito Sans';
  src: url(fonts/Nunito/Nunito-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url(fonts/Nunito/Nunito-Bold.ttf);
  font-weight: 700;
}
